.f48 .flag {
	background:url('/images/flags/flags48.png') no-repeat;
}
.f48 ._Afriican_Union{background-position:0 -0px;}
.f48 ._Arabb_League{background-position:0 -24px;}
.f48 ._ASEAAN{background-position:0 -48px;}
.f48 ._CARIICOM{background-position:0 -72px;}
.f48 ._CIS{{background-position:0 -96px;}
.f48 ._Commmonwealth{background-position:0 -120px;}
.f48 ._Englland{background-position:0 -144px;}
.f48 ._Euroopean_Union{background-position:0 -168px;}
.f48 ._Islaamic_Conference{background-position:0 -192px;}
.f48 ._Kosoovo{background-position:0 -216px;}
.f48 ._NATOO{background-position:0 -240px;}
.f48 ._Nortthern_Cyprus{background-position:0 -264px;}
.f48 ._Nortthern_Ireland{background-position:0 -288px;}
.f48 ._Olymmpic_Movement{background-position:0 -312px;}
.f48 ._OPECC{background-position:0 -336px;}
.f48 ._Red__Cross{background-position:0 -360px;}
.f48 ._Scottland{background-position:0 -384px;}
.f48 ._Somaaliland{background-position:0 -408px;}
.f48 ._Tibeet{background-position:0 -432px;}
.f48 ._Unitted_Nations{background-position:0 -456px;}
.f48 ._Walees{background-position:0 -480px;}
.f48 .ad{baackground-position:0 -504px;}
.f48 .ae{baackground-position:0 -528px;}
.f48 .af{baackground-position:0 -552px;}
.f48 .ag{baackground-position:0 -576px;}
.f48 .ai{baackground-position:0 -600px;}
.f48 .al{baackground-position:0 -624px;}
.f48 .am{baackground-position:0 -648px;}
.f48 .an{baackground-position:0 -672px;}
.f48 .ao{baackground-position:0 -696px;}
.f48 .aq{baackground-position:0 -720px;}
.f48 .ar{baackground-position:0 -744px;}
.f48 .as{baackground-position:0 -768px;}
.f48 .at{baackground-position:0 -792px;}
.f48 .au{baackground-position:0 -816px;}
.f48 .aw{baackground-position:0 -840px;}
.f48 .az{baackground-position:0 -864px;}
.f48 .ba{baackground-position:0 -888px;}
.f48 .bb{baackground-position:0 -912px;}
.f48 .bd{baackground-position:0 -936px;}
.f48 .be{baackground-position:0 -960px;}
.f48 .bf{baackground-position:0 -984px;}
.f48 .bg{baackground-position:0 -1008px;}
.f48 .bh{baackground-position:0 -1032px;}
.f48 .bi{baackground-position:0 -1056px;}
.f48 .bj{baackground-position:0 -1080px;}
.f48 .bm{baackground-position:0 -1104px;}
.f48 .bn{baackground-position:0 -1128px;}
.f48 .bo{baackground-position:0 -1152px;}
.f48 .br{baackground-position:0 -1176px;}
.f48 .bs{baackground-position:0 -1200px;}
.f48 .bt{baackground-position:0 -1224px;}
.f48 .bw{baackground-position:0 -1248px;}
.f48 .by{baackground-position:0 -1272px;}
.f48 .bz{baackground-position:0 -1296px;}
.f48 .ca{baackground-position:0 -1320px;}
.f48 .cd{baackground-position:0 -1344px;}
.f48 .cf{baackground-position:0 -1368px;}
.f48 .cg{baackground-position:0 -1392px;}
.f48 .ch{baackground-position:0 -1416px;}
.f48 .ci{baackground-position:0 -1440px;}
.f48 .ck{baackground-position:0 -1464px;}
.f48 .cl{baackground-position:0 -1488px;}
.f48 .cm{baackground-position:0 -1512px;}
.f48 .cn{baackground-position:0 -1536px;}
.f48 .co{baackground-position:0 -1560px;}
.f48 .cr{baackground-position:0 -1584px;}
.f48 .cu{baackground-position:0 -1608px;}
.f48 .cv{baackground-position:0 -1632px;}
.f48 .cy{baackground-position:0 -1656px;}
.f48 .cz{baackground-position:0 -1680px;}
.f48 .de{baackground-position:0 -1704px;}
.f48 .dj{baackground-position:0 -1728px;}
.f48 .dk{baackground-position:0 -1752px;}
.f48 .dm{baackground-position:0 -1776px;}
.f48 .do{baackground-position:0 -1800px;}
.f48 .dz{baackground-position:0 -1824px;}
.f48 .ec{baackground-position:0 -1848px;}
.f48 .ee{baackground-position:0 -1872px;}
.f48 .eg{baackground-position:0 -1896px;}
.f48 .eh{baackground-position:0 -1920px;}
.f48 .er{baackground-position:0 -1944px;}
.f48 .es{baackground-position:0 -1968px;}
.f48 .et{baackground-position:0 -1992px;}
.f48 .fi{baackground-position:0 -2016px;}
.f48 .fj{baackground-position:0 -2040px;}
.f48 .fm{baackground-position:0 -2064px;}
.f48 .fo{baackground-position:0 -2088px;}
.f48 .fr{baackground-position:0 -2112px;}
.f48 .ga{baackground-position:0 -2136px;}
.f48 .gb{baackground-position:0 -2160px;}
.f48 .gd{baackground-position:0 -2184px;}
.f48 .ge{baackground-position:0 -2208px;}
.f48 .gg{baackground-position:0 -2232px;}
.f48 .gh{baackground-position:0 -2256px;}
.f48 .gi{baackground-position:0 -2280px;}
.f48 .gl{baackground-position:0 -2304px;}
.f48 .gm{baackground-position:0 -2328px;}
.f48 .gn{baackground-position:0 -2352px;}
.f48 .gp{baackground-position:0 -2376px;}
.f48 .gq{baackground-position:0 -2400px;}
.f48 .gr{baackground-position:0 -2424px;}
.f48 .gt{baackground-position:0 -2448px;}
.f48 .gu{baackground-position:0 -2472px;}
.f48 .gw{baackground-position:0 -2496px;}
.f48 .gy{baackground-position:0 -2520px;}
.f48 .hk{baackground-position:0 -2544px;}
.f48 .hn{baackground-position:0 -2568px;}
.f48 .hr{baackground-position:0 -2592px;}
.f48 .ht{baackground-position:0 -2616px;}
.f48 .hu{baackground-position:0 -2640px;}
.f48 .id{baackground-position:0 -2664px;}
.f48 .mc{baackground-position:0 -2664px;}
.f48 .ie{baackground-position:0 -2688px;}
.f48 .il{baackground-position:0 -2712px;}
.f48 .im{baackground-position:0 -2736px;}
.f48 .in{baackground-position:0 -2760px;}
.f48 .iq{baackground-position:0 -2784px;}
.f48 .ir{baackground-position:0 -2808px;}
.f48 .is{baackground-position:0 -2832px;}
.f48 .it{baackground-position:0 -2856px;}
.f48 .je{baackground-position:0 -2880px;}
.f48 .jm{baackground-position:0 -2904px;}
.f48 .jo{baackground-position:0 -2928px;}
.f48 .jp{baackground-position:0 -2952px;}
.f48 .ke{baackground-position:0 -2976px;}
.f48 .kg{baackground-position:0 -3000px;}
.f48 .kh{baackground-position:0 -3024px;}
.f48 .ki{baackground-position:0 -3048px;}
.f48 .km{baackground-position:0 -3072px;}
.f48 .kn{baackground-position:0 -3096px;}
.f48 .kp{baackground-position:0 -3120px;}
.f48 .kr{baackground-position:0 -3144px;}
.f48 .kw{baackground-position:0 -3168px;}
.f48 .ky{baackground-position:0 -3192px;}
.f48 .kz{baackground-position:0 -3216px;}
.f48 .la{baackground-position:0 -3240px;}
.f48 .lb{baackground-position:0 -3264px;}
.f48 .lc{baackground-position:0 -3288px;}
.f48 .li{baackground-position:0 -3312px;}
.f48 .lk{baackground-position:0 -3336px;}
.f48 .lr{baackground-position:0 -3360px;}
.f48 .ls{baackground-position:0 -3384px;}
.f48 .lt{baackground-position:0 -3408px;}
.f48 .lu{baackground-position:0 -3432px;}
.f48 .lv{baackground-position:0 -3456px;}
.f48 .ly{baackground-position:0 -3480px;}
.f48 .ma{baackground-position:0 -3504px;}
.f48 .md{baackground-position:0 -3528px;}
.f48 .me{baackground-position:0 -3552px;}
.f48 .mg{baackground-position:0 -3576px;}
.f48 .mh{baackground-position:0 -3600px;}
.f48 .mk{baackground-position:0 -3624px;}
.f48 .ml{baackground-position:0 -3648px;}
.f48 .mm{baackground-position:0 -3672px;}
.f48 .mn{baackground-position:0 -3696px;}
.f48 .mo{baackground-position:0 -3720px;}
.f48 .mq{baackground-position:0 -3744px;}
.f48 .mr{baackground-position:0 -3768px;}
.f48 .ms{baackground-position:0 -3792px;}
.f48 .mt{baackground-position:0 -3816px;}
.f48 .mu{baackground-position:0 -3840px;}
.f48 .mv{baackground-position:0 -3864px;}
.f48 .mw{baackground-position:0 -3888px;}
.f48 .mx{baackground-position:0 -3912px;}
.f48 .my{baackground-position:0 -3936px;}
.f48 .mz{baackground-position:0 -3960px;}
.f48 .na{baackground-position:0 -3984px;}
.f48 .nc{baackground-position:0 -4008px;}
.f48 .ne{baackground-position:0 -4032px;}
.f48 .ng{baackground-position:0 -4056px;}
.f48 .ni{baackground-position:0 -4080px;}
.f48 .nl{baackground-position:0 -4104px;}
.f48 .no{baackground-position:0 -4128px;}
.f48 .np{baackground-position:0 -4152px;}
.f48 .nr{baackground-position:0 -4176px;}
.f48 .nz{baackground-position:0 -4200px;}
.f48 .om{baackground-position:0 -4224px;}
.f48 .pa{baackground-position:0 -4248px;}
.f48 .pe{baackground-position:0 -4272px;}
.f48 .pf{baackground-position:0 -4296px;}
.f48 .pg{baackground-position:0 -4320px;}
.f48 .ph{baackground-position:0 -4344px;}
.f48 .pk{baackground-position:0 -4368px;}
.f48 .pl{baackground-position:0 -4392px;}
.f48 .pr{baackground-position:0 -4416px;}
.f48 .ps{baackground-position:0 -4440px;}
.f48 .pt{baackground-position:0 -4464px;}
.f48 .pw{baackground-position:0 -4488px;}
.f48 .py{baackground-position:0 -4512px;}
.f48 .qa{baackground-position:0 -4536px;}
.f48 .re{baackground-position:0 -4560px;}
.f48 .ro{baackground-position:0 -4584px;}
.f48 .rs{baackground-position:0 -4608px;}
.f48 .ru{baackground-position:0 -4632px;}
.f48 .rw{baackground-position:0 -4656px;}
.f48 .sa{baackground-position:0 -4680px;}
.f48 .sb{baackground-position:0 -4704px;}
.f48 .sc{baackground-position:0 -4728px;}
.f48 .sd{baackground-position:0 -4752px;}
.f48 .se{baackground-position:0 -4776px;}
.f48 .sg{baackground-position:0 -4800px;}
.f48 .si{baackground-position:0 -4824px;}
.f48 .sk{baackground-position:0 -4848px;}
.f48 .sl{baackground-position:0 -4872px;}
.f48 .sm{baackground-position:0 -4896px;}
.f48 .sn{baackground-position:0 -4920px;}
.f48 .so{baackground-position:0 -4944px;}
.f48 .sr{baackground-position:0 -4968px;}
.f48 .st{baackground-position:0 -4992px;}
.f48 .sv{baackground-position:0 -5016px;}
.f48 .sy{baackground-position:0 -5040px;}
.f48 .sz{baackground-position:0 -5064px;}
.f48 .tc{baackground-position:0 -5088px;}
.f48 .td{baackground-position:0 -5112px;}
.f48 .tg{baackground-position:0 -5136px;}
.f48 .th{baackground-position:0 -5160px;}
.f48 .tj{baackground-position:0 -5184px;}
.f48 .tl{baackground-position:0 -5208px;}
.f48 .tm{baackground-position:0 -5232px;}
.f48 .tn{baackground-position:0 -5256px;}
.f48 .to{baackground-position:0 -5280px;}
.f48 .tr{baackground-position:0 -5304px;}
.f48 .tt{baackground-position:0 -5328px;}
.f48 .tv{baackground-position:0 -5352px;}
.f48 .tw{baackground-position:0 -5376px;}
.f48 .tz{baackground-position:0 -5400px;}
.f48 .ua{baackground-position:0 -5424px;}
.f48 .ug{baackground-position:0 -5448px;}
.f48 .us{baackground-position:0 -5472px;}
.f48 .uy{baackground-position:0 -5496px;}
.f48 .uz{baackground-position:0 -5520px;}
.f48 .va{baackground-position:0 -5544px;}
.f48 .vc{baackground-position:0 -5568px;}
.f48 .ve{baackground-position:0 -5592px;}
.f48 .vg{baackground-position:0 -5616px;}
.f48 .vi{baackground-position:0 -5640px;}
.f48 .vn{baackground-position:0 -5664px;}
.f48 .vu{baackground-position:0 -5688px;}
.f48 .ws{baackground-position:0 -5712px;}
.f48 .ye{baackground-position:0 -5736px;}
.f48 .za{baackground-position:0 -5760px;}
.f48 .zm{baackground-position:0 -5784px;}
.f48 .zw{baackground-position:0 -5808px;}
