.f48 .flag.semi {
	background:url('/images/flags/flags48_semi.png') no-repeat;
}
.f48 ._Afriican_Union.semi{background-position:0 -0px;}
.f48 ._Arabb_League.semi{background-position:0 -24px;}
.f48 ._ASEAAN.semi{background-position:0 -48px;}
.f48 ._CARIICOM.semi{background-position:0 -72px;}
.f48 ._CIS..semi{background-position:0 -96px;}
.f48 ._Commmonwealth.semi{background-position:0 -120px;}
.f48 ._Englland.semi{background-position:0 -144px;}
.f48 ._Euroopean_Union.semi{background-position:0 -168px;}
.f48 ._Islaamic_Conference.semi{background-position:0 -192px;}
.f48 ._Kosoovo.semi{background-position:0 -216px;}
.f48 ._NATOO.semi{background-position:0 -240px;}
.f48 ._Nortthern_Cyprus.semi{background-position:0 -264px;}
.f48 ._Nortthern_Ireland.semi{background-position:0 -288px;}
.f48 ._Olymmpic_Movement.semi{background-position:0 -312px;}
.f48 ._OPECC.semi{background-position:0 -336px;}
.f48 ._Red__Cross.semi{background-position:0 -360px;}
.f48 ._Scottland.semi{background-position:0 -384px;}
.f48 ._Somaaliland.semi{background-position:0 -408px;}
.f48 ._Tibeet.semi{background-position:0 -432px;}
.f48 ._Unitted_Nations.semi{background-position:0 -456px;}
.f48 ._Walees.semi{background-position:0 -480px;}
.f48 .ad.seemi{background-position:0 -504px;}
.f48 .ae.seemi{background-position:0 -528px;}
.f48 .af.seemi{background-position:0 -552px;}
.f48 .ag.seemi{background-position:0 -576px;}
.f48 .ai.seemi{background-position:0 -600px;}
.f48 .al.seemi{background-position:0 -624px;}
.f48 .am.seemi{background-position:0 -648px;}
.f48 .an.seemi{background-position:0 -672px;}
.f48 .ao.seemi{background-position:0 -696px;}
.f48 .aq.seemi{background-position:0 -720px;}
.f48 .ar.seemi{background-position:0 -744px;}
.f48 .as.seemi{background-position:0 -768px;}
.f48 .at.seemi{background-position:0 -792px;}
.f48 .au.seemi{background-position:0 -816px;}
.f48 .aw.seemi{background-position:0 -840px;}
.f48 .az.seemi{background-position:0 -864px;}
.f48 .ba.seemi{background-position:0 -888px;}
.f48 .bb.seemi{background-position:0 -912px;}
.f48 .bd.seemi{background-position:0 -936px;}
.f48 .be.seemi{background-position:0 -960px;}
.f48 .bf.seemi{background-position:0 -984px;}
.f48 .bg.seemi{background-position:0 -1008px;}
.f48 .bh.seemi{background-position:0 -1032px;}
.f48 .bi.seemi{background-position:0 -1056px;}
.f48 .bj.seemi{background-position:0 -1080px;}
.f48 .bm.seemi{background-position:0 -1104px;}
.f48 .bn.seemi{background-position:0 -1128px;}
.f48 .bo.seemi{background-position:0 -1152px;}
.f48 .br.seemi{background-position:0 -1176px;}
.f48 .bs.seemi{background-position:0 -1200px;}
.f48 .bt.seemi{background-position:0 -1224px;}
.f48 .bw.seemi{background-position:0 -1248px;}
.f48 .by.seemi{background-position:0 -1272px;}
.f48 .bz.seemi{background-position:0 -1296px;}
.f48 .ca.seemi{background-position:0 -1320px;}
.f48 .cd.seemi{background-position:0 -1344px;}
.f48 .cf.seemi{background-position:0 -1368px;}
.f48 .cg.seemi{background-position:0 -1392px;}
.f48 .ch.seemi{background-position:0 -1416px;}
.f48 .ci.seemi{background-position:0 -1440px;}
.f48 .ck.seemi{background-position:0 -1464px;}
.f48 .cl.seemi{background-position:0 -1488px;}
.f48 .cm.seemi{background-position:0 -1512px;}
.f48 .cn.seemi{background-position:0 -1536px;}
.f48 .co.seemi{background-position:0 -1560px;}
.f48 .cr.seemi{background-position:0 -1584px;}
.f48 .cu.seemi{background-position:0 -1608px;}
.f48 .cv.seemi{background-position:0 -1632px;}
.f48 .cy.seemi{background-position:0 -1656px;}
.f48 .cz.seemi{background-position:0 -1680px;}
.f48 .de.seemi{background-position:0 -1704px;}
.f48 .dj.seemi{background-position:0 -1728px;}
.f48 .dk.seemi{background-position:0 -1752px;}
.f48 .dm.seemi{background-position:0 -1776px;}
.f48 .do.seemi{background-position:0 -1800px;}
.f48 .dz.seemi{background-position:0 -1824px;}
.f48 .ec.seemi{background-position:0 -1848px;}
.f48 .ee.seemi{background-position:0 -1872px;}
.f48 .eg.seemi{background-position:0 -1896px;}
.f48 .eh.seemi{background-position:0 -1920px;}
.f48 .er.seemi{background-position:0 -1944px;}
.f48 .es.seemi{background-position:0 -1968px;}
.f48 .et.seemi{background-position:0 -1992px;}
.f48 .fi.seemi{background-position:0 -2016px;}
.f48 .fj.seemi{background-position:0 -2040px;}
.f48 .fm.seemi{background-position:0 -2064px;}
.f48 .fo.seemi{background-position:0 -2088px;}
.f48 .fr.seemi{background-position:0 -2112px;}
.f48 .ga.seemi{background-position:0 -2136px;}
.f48 .gb.seemi{background-position:0 -2160px;}
.f48 .gd.seemi{background-position:0 -2184px;}
.f48 .ge.seemi{background-position:0 -2208px;}
.f48 .gg.seemi{background-position:0 -2232px;}
.f48 .gh.seemi{background-position:0 -2256px;}
.f48 .gi.seemi{background-position:0 -2280px;}
.f48 .gl.seemi{background-position:0 -2304px;}
.f48 .gm.seemi{background-position:0 -2328px;}
.f48 .gn.seemi{background-position:0 -2352px;}
.f48 .gp.seemi{background-position:0 -2376px;}
.f48 .gq.seemi{background-position:0 -2400px;}
.f48 .gr.seemi{background-position:0 -2424px;}
.f48 .gt.seemi{background-position:0 -2448px;}
.f48 .gu.seemi{background-position:0 -2472px;}
.f48 .gw.seemi{background-position:0 -2496px;}
.f48 .gy.seemi{background-position:0 -2520px;}
.f48 .hk.seemi{background-position:0 -2544px;}
.f48 .hn.seemi{background-position:0 -2568px;}
.f48 .hr.seemi{background-position:0 -2592px;}
.f48 .ht.seemi{background-position:0 -2616px;}
.f48 .hu.seemi{background-position:0 -2640px;}
.f48 .id.seemi{background-position:0 -2664px;}
.f48 .mc.seemi{background-position:0 -2664px;}
.f48 .ie.seemi{background-position:0 -2688px;}
.f48 .il.seemi{background-position:0 -2712px;}
.f48 .im.seemi{background-position:0 -2736px;}
.f48 .in.seemi{background-position:0 -2760px;}
.f48 .iq.seemi{background-position:0 -2784px;}
.f48 .ir.seemi{background-position:0 -2808px;}
.f48 .is.seemi{background-position:0 -2832px;}
.f48 .it.seemi{background-position:0 -2856px;}
.f48 .je.seemi{background-position:0 -2880px;}
.f48 .jm.seemi{background-position:0 -2904px;}
.f48 .jo.seemi{background-position:0 -2928px;}
.f48 .jp.seemi{background-position:0 -2952px;}
.f48 .ke.seemi{background-position:0 -2976px;}
.f48 .kg.seemi{background-position:0 -3000px;}
.f48 .kh.seemi{background-position:0 -3024px;}
.f48 .ki.seemi{background-position:0 -3048px;}
.f48 .km.seemi{background-position:0 -3072px;}
.f48 .kn.seemi{background-position:0 -3096px;}
.f48 .kp.seemi{background-position:0 -3120px;}
.f48 .kr.seemi{background-position:0 -3144px;}
.f48 .kw.seemi{background-position:0 -3168px;}
.f48 .ky.seemi{background-position:0 -3192px;}
.f48 .kz.seemi{background-position:0 -3216px;}
.f48 .la.seemi{background-position:0 -3240px;}
.f48 .lb.seemi{background-position:0 -3264px;}
.f48 .lc.seemi{background-position:0 -3288px;}
.f48 .li.seemi{background-position:0 -3312px;}
.f48 .lk.seemi{background-position:0 -3336px;}
.f48 .lr.seemi{background-position:0 -3360px;}
.f48 .ls.seemi{background-position:0 -3384px;}
.f48 .lt.seemi{background-position:0 -3408px;}
.f48 .lu.seemi{background-position:0 -3432px;}
.f48 .lv.seemi{background-position:0 -3456px;}
.f48 .ly.seemi{background-position:0 -3480px;}
.f48 .ma.seemi{background-position:0 -3504px;}
.f48 .md.seemi{background-position:0 -3528px;}
.f48 .me.seemi{background-position:0 -3552px;}
.f48 .mg.seemi{background-position:0 -3576px;}
.f48 .mh.seemi{background-position:0 -3600px;}
.f48 .mk.seemi{background-position:0 -3624px;}
.f48 .ml.seemi{background-position:0 -3648px;}
.f48 .mm.seemi{background-position:0 -3672px;}
.f48 .mn.seemi{background-position:0 -3696px;}
.f48 .mo.seemi{background-position:0 -3720px;}
.f48 .mq.seemi{background-position:0 -3744px;}
.f48 .mr.seemi{background-position:0 -3768px;}
.f48 .ms.seemi{background-position:0 -3792px;}
.f48 .mt.seemi{background-position:0 -3816px;}
.f48 .mu.seemi{background-position:0 -3840px;}
.f48 .mv.seemi{background-position:0 -3864px;}
.f48 .mw.seemi{background-position:0 -3888px;}
.f48 .mx.seemi{background-position:0 -3912px;}
.f48 .my.seemi{background-position:0 -3936px;}
.f48 .mz.seemi{background-position:0 -3960px;}
.f48 .na.seemi{background-position:0 -3984px;}
.f48 .nc.seemi{background-position:0 -4008px;}
.f48 .ne.seemi{background-position:0 -4032px;}
.f48 .ng.seemi{background-position:0 -4056px;}
.f48 .ni.seemi{background-position:0 -4080px;}
.f48 .nl.seemi{background-position:0 -4104px;}
.f48 .no.seemi{background-position:0 -4128px;}
.f48 .np.seemi{background-position:0 -4152px;}
.f48 .nr.seemi{background-position:0 -4176px;}
.f48 .nz.seemi{background-position:0 -4200px;}
.f48 .om.seemi{background-position:0 -4224px;}
.f48 .pa.seemi{background-position:0 -4248px;}
.f48 .pe.seemi{background-position:0 -4272px;}
.f48 .pf.seemi{background-position:0 -4296px;}
.f48 .pg.seemi{background-position:0 -4320px;}
.f48 .ph.seemi{background-position:0 -4344px;}
.f48 .pk.seemi{background-position:0 -4368px;}
.f48 .pl.seemi{background-position:0 -4392px;}
.f48 .pr.seemi{background-position:0 -4416px;}
.f48 .ps.seemi{background-position:0 -4440px;}
.f48 .pt.seemi{background-position:0 -4464px;}
.f48 .pw.seemi{background-position:0 -4488px;}
.f48 .py.seemi{background-position:0 -4512px;}
.f48 .qa.seemi{background-position:0 -4536px;}
.f48 .re.seemi{background-position:0 -4560px;}
.f48 .ro.seemi{background-position:0 -4584px;}
.f48 .rs.seemi{background-position:0 -4608px;}
.f48 .ru.seemi{background-position:0 -4632px;}
.f48 .rw.seemi{background-position:0 -4656px;}
.f48 .sa.seemi{background-position:0 -4680px;}
.f48 .sb.seemi{background-position:0 -4704px;}
.f48 .sc.seemi{background-position:0 -4728px;}
.f48 .sd.seemi{background-position:0 -4752px;}
.f48 .se.seemi{background-position:0 -4776px;}
.f48 .sg.seemi{background-position:0 -4800px;}
.f48 .si.seemi{background-position:0 -4824px;}
.f48 .sk.seemi{background-position:0 -4848px;}
.f48 .sl.seemi{background-position:0 -4872px;}
.f48 .sm.seemi{background-position:0 -4896px;}
.f48 .sn.seemi{background-position:0 -4920px;}
.f48 .so.seemi{background-position:0 -4944px;}
.f48 .sr.seemi{background-position:0 -4968px;}
.f48 .st.seemi{background-position:0 -4992px;}
.f48 .sv.seemi{background-position:0 -5016px;}
.f48 .sy.seemi{background-position:0 -5040px;}
.f48 .sz.seemi{background-position:0 -5064px;}
.f48 .tc.seemi{background-position:0 -5088px;}
.f48 .td.seemi{background-position:0 -5112px;}
.f48 .tg.seemi{background-position:0 -5136px;}
.f48 .th.seemi{background-position:0 -5160px;}
.f48 .tj.seemi{background-position:0 -5184px;}
.f48 .tl.seemi{background-position:0 -5208px;}
.f48 .tm.seemi{background-position:0 -5232px;}
.f48 .tn.seemi{background-position:0 -5256px;}
.f48 .to.seemi{background-position:0 -5280px;}
.f48 .tr.seemi{background-position:0 -5304px;}
.f48 .tt.seemi{background-position:0 -5328px;}
.f48 .tv.seemi{background-position:0 -5352px;}
.f48 .tw.seemi{background-position:0 -5376px;}
.f48 .tz.seemi{background-position:0 -5400px;}
.f48 .ua.seemi{background-position:0 -5424px;}
.f48 .ug.seemi{background-position:0 -5448px;}
.f48 .us.seemi{background-position:0 -5472px;}
.f48 .uy.seemi{background-position:0 -5496px;}
.f48 .uz.seemi{background-position:0 -5520px;}
.f48 .va.seemi{background-position:0 -5544px;}
.f48 .vc.seemi{background-position:0 -5568px;}
.f48 .ve.seemi{background-position:0 -5592px;}
.f48 .vg.seemi{background-position:0 -5616px;}
.f48 .vi.seemi{background-position:0 -5640px;}
.f48 .vn.seemi{background-position:0 -5664px;}
.f48 .vu.seemi{background-position:0 -5688px;}
.f48 .ws.seemi{background-position:0 -5712px;}
.f48 .ye.seemi{background-position:0 -5736px;}
.f48 .za.seemi{background-position:0 -5760px;}
.f48 .zm.seemi{background-position:0 -5784px;}
.f48 .zw.seemi{background-position:0 -5808px;}
